# PostgreSQL
POSTGRES_DB=techchallenge
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password

# JWT
JWT_KEY=a-really-long-dummy-token-key-that-should-be-kept-secret
JWT_ISSUER=dummy-issuer
JWT_AUDIENCE=dummy-audience

# ASP.NET Core
ASPNETCORE_ENVIRONMENT=Development

# PgAdmin
PGADMIN_DEFAULT_EMAIL=admin@techchallenge.com
PGADMIN_DEFAULT_PASSWORD=admin
