apiVersion: v1
kind: Secret
metadata:
  name: api
  namespace: techchallenge
type: Opaque
stringData:
  ConnectionStrings__DefaultConnection: "Host=postgres;Port=5432;Database=techchallenge;Username=postgres;Password=password"
  Jwt__Key: "a-really-long-dummy-token-key-that-should-be-kept-secret"
